.#{$prefix}timeline {
  margin: 0 0 0 6px;
  padding: 0 0 0 $padding-size;
  border-left: 1px solid var($--color-app-border);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  > li {
    position: relative;
    margin-bottom: $padding-size;
    &:before {
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: var($--color-app-border);
      border: 3px solid var($--color-app-canvas);
      position: absolute;
      top: 5px;
      left: -20px
    }
    > div {
      padding: 0 $padding-size 0 $padding-size/2;
      display: inline-block;
    }
  }
  &.#{$prefix}validation {
    > li {
      cursor: pointer;
      margin-bottom: 0;
      &.#{$prefix}hover:hover {
        background-color: var($--color-app-hover);
      }
      &:before {
        top: 7px;
      }
      > div {
        padding: $padding-size/2;
        padding-right: $padding-size*2;
        display: inline-block;
      }
      &.#{$prefix}entry-error {
        &:before {
          background-color: #EB3B5B;
        }
        
      }
      &.#{$prefix}entry-group {
        &:before {
          display: none;
        }
        
      }
      &.#{$prefix}entry-warning {
        &:before {
          background-color: #FB8230;
        }
      }
      &.#{$prefix}entry-info {
        &:before {
          background-color: #2D99DB;
        }
      }
      &.#{$prefix}entry-plain {
        &:before {
          background-color: var($--color-text-secondary);
        }
      }
      &.#{$prefix}entry-kai {
        &:before {
          background: linear-gradient(0deg, rgba(9,247,146,1) 0%, rgba(0,164,253,1) 100%);
        }
        
      }
    }
  }
  &.#{$prefix}accent-style {
    > li {
      &:before {
        border-color: var($--color-app-accent);
      }
    }
  }
}